 body{
    background: sandybrown;
}

h1,p {
    text-align: center;
}

h3{
    text-align: right;
}

#foods{
    border-radius: 0%;
    border-style: solid;
    border-width: medium;
}

#drinks{
    text-align: right;
    border-radius: 0%;
    border-style: solid;
    border-width: medium;
    
}

h4{
    text-align: center;
}

#snacks{
    text-align: center;
    border-radius: 0%;
    border-style: solid;
    border-width: medium;
}

.stars {
    display: flex;
}

.stars.disabled{
    pointer-events: none;
}

.stars a{
    opacity: 50%;
    cursor: pointer;
    padding: 10px;
}

.stars:hover a {
    opacity: 200%;
}

.stars a:hover {
    opacity: 200%;
}

.stars a:hover ~a {
    opacity: 50%;
}

.stars a.active {
    opacity: 200%;
}